body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('ejemplo2.avif') no-repeat center center fixed; /* Cambia 'your-background-image.jpg' por la ruta de tu imagen de fondo */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 32px;
    color: #333;
    margin-bottom: 765px;
    font-weight: 700;
    margin-right: -20%;
}

form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

label {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: calc(100% - 20px);
    padding: 12px;
    margin: 5px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    background-color: #28a745;
    color: #fff;
    padding: 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
}

button:hover {
    background-color: #218838;
}
.Registro{
    color: #fff;
}